In [1]:
import pandas as pd

In [2]:
path = '../data/'
books_pre = pd.read_csv(path + 'books_m1.csv')
users_pre = pd.read_csv(path + 'users_m1.csv')
train_ratings = pd.read_csv(path + 'train_ratings.csv.bak')
test_ratings = pd.read_csv(path + 'test_ratings.csv.bak')

print(books_pre.shape, users_pre.shape, train_ratings.shape, test_ratings.shape)

(149570, 21) (68092, 13) (306795, 3) (76699, 3)

In [3]:
train_df = pd.merge(train_ratings, books_pre, how = 'left', on = 'isbn')
train_df = pd.merge(train_df, users_pre, how = 'left', on = 'user_id')

In [4]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306795 entries, 0 to 306794
Data columns (total 35 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               306795 non-null  int64
 1   isbn                  306795 non-null  object
 2   rating                306795 non-null  int64
 3   book_title            306795 non-null  object
 4   book_author           306795 non-null  object
 5   year_of_publication   306795 non-null  int64
 6   publisher             306795 non-null  object
 7   language              306795 non-null  object
 8   category              306795 non-null  object
 9   summary               306795 non-null  object
 10  img_path              306795 non-null  object
 11  book_language_p1_val  306795 non-null  object
 12  book_language_p1_rel  306795 non-null  float64
 13  book_language_p2      306795 non-null  object
 14  book_language_p3_rel  306795 non-null  float64
 15  book_language_p3_val  306795 non-null  object
 16  publisher_code        306795 non-null  object
 17  category_p1           306795 non-null  object
 18  book_rating_count     306795 non-null  float64
 19  book_rating_mean      306795 non-null  float64
 20  book_rating_mode      306795 non-null  float64
 21  book_rating_median    306795 non-null  float64
 22  book_rating_std       306795 non-null  float64
 23  location              306795 non-null  object
 24  age                   306795 non-null  int64
 25  location_part1        306795 non-null  object
 26  location_part2        306795 non-null  object
 27  location_part3        299617 non-null  object
 28  location_part4        306709 non-null  object
 29  location_part5        298352 non-null  object
 30  user_rating_count     306795 non-null  float64
 31  user_rating_mean      306795 non-null  float64
 32  user_rating_mode      306795 non-null  float64
 33  user_rating_median    306795 non-null  float64
 34  user_rating_std       306795 non-null  float64
dtypes: float64(12), int64(4), object(19)
memory usage: 81.9+ MB
None

In [5]:
test_df = pd.merge(test_ratings, books_pre, how = 'left', on = 'isbn')
test_df = pd.merge(test_df, users_pre, how = 'left', on = 'user_id')

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76699 entries, 0 to 76698
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               76699 non-null  int64
 1   isbn                  76699 non-null  object
 2   rating                76699 non-null  int64
 3   book_title            76699 non-null  object
 4   book_author           76699 non-null  object
 5   year_of_publication   76699 non-null  int64
 6   publisher             76699 non-null  object
 7   language              76699 non-null  object
 8   category              76699 non-null  object
 9   summary               76699 non-null  object
 10  img_path              76699 non-null  object
 11  book_language_p1_val  76699 non-null  object
 12  book_language_p1_rel  76699 non-null  float64
 13  book_language_p2      76699 non-null  object
 14  book_language_p3_rel  76699 non-null  float64
 15  book_language_p3_val  76699 non-null  object
 16  publisher_code        76699 non-null  object
 17  category_p1           76699 non-null  object
 18  book_rating_count     76699 non-null  float64
 19  book_rating_mean      76699 non-null  float64
 20  book_rating_mode      76699 non-null  float64
 21  book_rating_median    76699 non-null  float64
 22  book_rating_std       76699 non-null  float64
 23  location              76699 non-null  object
 24  age                   76699 non-null  int64
 25  location_part1        76699 non-null  object
 26  location_part2        76698 non-null  object
 27  location_part3        74844 non-null  object
 28  location_part4        76683 non-null  object
 29  location_part5        74642 non-null  object
 30  user_rating_count     76699 non-null  float64
 31  user_rating_mean      76699 non-null  float64
 32  user_rating_mode      76699 non-null  float64
 33  user_rating_median    76699 non-null  float64
 34  user_rating_std       76699 non-null  float64
dtypes: float64(12), int64(4), object(19)
memory usage: 20.5+ MB

In [7]:
train_df['category_p1'].unique()

array(['unknown', 'fiction', 'humor', 'cook', 'psycholog', 'science',
       'business', 'literary', 'religion', 'india', 'social', 'animal',
       'children', 'poetry', 'music', 'nonfiction', 'family', 'computer',
       'literature', 'criminal', 'christian', 'philosophy', 'adventure',
       'drama', 'language', 'science fiction', 'travel', 'crafts',
       'environmental', 'house', 'motion picture', 'architect', 'disease',
       'photograph', 'camp', 'ecology', 'mathemat', 'garden', 'bird',
       'physics', 'electronic', 'homicide', 'sociology', 'agricult'],
      dtype=object)

In [8]:
train_df['category_p1'] = train_df['category_p1'].astype(str)
test_df['category_p1'] = test_df['category_p1'].astype(str)

In [14]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76699 entries, 0 to 76698
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               76699 non-null  int64
 1   isbn                  76699 non-null  object
 2   rating                76699 non-null  int64
 3   book_title            76699 non-null  object
 4   book_author           76699 non-null  object
 5   year_of_publication   76699 non-null  int64
 6   publisher             76699 non-null  object
 7   language              76699 non-null  object
 8   category              76699 non-null  object
 9   summary               76699 non-null  object
 10  img_path              76699 non-null  object
 11  book_language_p1_val  76699 non-null  object
 12  book_language_p1_rel  76699 non-null  float64
 13  book_language_p2      76699 non-null  object
 14  book_language_p3_rel  76699 non-null  float64
 15  book_language_p3_val  76699 non-null  object
 16  publisher_code        76699 non-null  object
 17  category_p1           76699 non-null  object
 18  book_rating_count     76699 non-null  float64
 19  book_rating_mean      76699 non-null  float64
 20  book_rating_mode      76699 non-null  float64
 21  book_rating_median    76699 non-null  float64
 22  book_rating_std       76699 non-null  float64
 23  location              76699 non-null  object
 24  age                   76699 non-null  int64
 25  location_part1        76699 non-null  object
 26  location_part2        76698 non-null  object
 27  location_part3        74844 non-null  object
 28  location_part4        76683 non-null  object
 29  location_part5        74642 non-null  object
 30  user_rating_count     76699 non-null  float64
 31  user_rating_mean      76699 non-null  float64
 32  user_rating_mode      76699 non-null  float64
 33  user_rating_median    76699 non-null  float64
 34  user_rating_std       76699 non-null  float64
dtypes: float64(12), int64(4), object(19)
memory usage: 20.5+ MB

In [15]:
train_df.to_csv('../data/train_df_m1.csv', index=False)
test_df.to_csv('../data/test_df_m1.csv', index=False)

In [9]:
t = pd.read_csv('../data/train_df_m1.csv', low_memory=False)

In [50]:
t.iloc[150000:180000].to_csv('../data/sam.csv')

In [53]:
t2 = pd.read_csv('../data/sam.csv', index_col=0, dtype={17: str})

In [52]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 150000 to 179999
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               30000 non-null  int64
 1   isbn                  30000 non-null  object
 2   rating                30000 non-null  int64
 3   book_title            30000 non-null  object
 4   book_author           30000 non-null  object
 5   year_of_publication   30000 non-null  int64
 6   publisher             30000 non-null  object
 7   language              30000 non-null  object
 8   category              30000 non-null  object
 9   summary               30000 non-null  object
 10  img_path              30000 non-null  object
 11  book_language_p1_val  30000 non-null  object
 12  book_language_p1_rel  30000 non-null  float64
 13  book_language_p2      30000 non-null  object
 14  book_language_p3_rel  30000 non-null  float64
 15  book_language_p3_val  30000 non-null  object
 16  publisher_code        30000 non-null  object
 17  category_p1           30000 non-null  object
 18  book_rating_count     30000 non-null  float64
 19  book_rating_mean      30000 non-null  float64
 20  book_rating_mode      30000 non-null  float64
 21  book_rating_median    30000 non-null  float64
 22  book_rating_std       30000 non-null  float64
 23  location              30000 non-null  object
 24  age                   30000 non-null  int64
 25  location_part1        30000 non-null  object
 26  location_part2        30000 non-null  object
 27  location_part3        29891 non-null  object
 28  location_part4        29998 non-null  object
 29  location_part5        29156 non-null  object
 30  user_rating_count     30000 non-null  float64
 31  user_rating_mean      30000 non-null  float64
 32  user_rating_mode      30000 non-null  float64
 33  user_rating_median    30000 non-null  float64
 34  user_rating_std       30000 non-null  float64
dtypes: float64(12), int64(4), object(19)
memory usage: 8.2+ MB