In [16]:
import pandas as pd
import numpy as np

In [17]:
path = '../data/'
books = pd.read_csv(path + 'books_m1.csv')
users = pd.read_csv(path + 'users_m1.csv')
train_ratings = pd.read_csv(path + 'train_ratings.csv.bak')
test_ratings = pd.read_csv(path + 'test_ratings.csv.bak')

ratings = pd.concat([train_ratings, test_ratings], axis=0)

print(books.shape, users.shape, train_ratings.shape, test_ratings.shape)

(149570, 11) (68092, 8) (306795, 3) (76699, 3)

### 인덱싱

In [20]:
user2idx = {v:k for k,v in enumerate(ratings['user_id'].unique())}
book2idx = {v:k for k,v in enumerate(ratings['isbn'].unique())}

ratings['isbn'] = ratings['isbn'].map(book2idx)
ratings['user_id'] = ratings['user_id'].map(user2idx)
ratings

       user_id    isbn  rating
0            0       0       4
1            1       0       7
2            2       0       8
3            3       0       8
4            4       0       9
...        ...     ...     ...
76694     7728  149565       0
76695    47785  149566       0
76696     4209  149567       0
76697    40779  149568       0
76698     1879  149569       0

[383494 rows x 3 columns]

### location 인덱스

In [24]:
locations = [f'location_part{i}' for i in range(1,6)]

ratings = ratings.merge(users[['user_id', *locations]], on='user_id', how='left')

index = set()
for i in locations:
    index.update(users[i].unique())

In [25]:
loc_to_idx = {v:k for k,v in enumerate(index)}

for i in locations:
    ratings[i] = ratings[i].map(loc_to_idx)

ratings

,user_id,isbn,rating,location_part1,location_part2,location_part3,location_part4,location_part5
0,0,0,4,9480,9480,9480,9480,9480
1,1,0,7,9480,9480,9480,9480,9480
2,2,0,8,9480,9480,9480,9480,9480
3,3,0,8,9480,9480,9480,9480,9480
4,4,0,9,9480,9480,9480,9480,9480
...,...,...,...,...,...,...,...,...
383489,7728,149565,0,9480,9480,9480,9480,9480
383490,47785,149566,0,9480,9480,9480,9480,9480
383491,4209,149567,0,9480,9480,9480,9480,9480
383492,40779,149568,0,9480,9480,9480,9480,9480
383493,1879,149569,0,9480,9480,9480,9480,9480

In [32]:
test_ratings = ratings.sample(frac=0.2, random_state=1)
train_ratings = ratings.drop(test_ratings.index)

train_ratings.to_csv('../data/train_ratings_m1.csv', index=False)
test_ratings.to_csv('../data/test_ratings_m1.csv', index=False)

!cp ../data/train_ratings_m1.csv ../data/train_ratings.csv
!cp ../data/test_ratings_m1.csv ../data/test_ratings.csv