In [2]:
import pandas as pd
import numpy as np

In [3]:
users = pd.read_csv('../data/users.csv')
train = pd.read_csv('../data/train_ratings.csv')
test = pd.read_csv('../data/test_ratings.csv')
sub = pd.read_csv('../data/sample_submission.csv')

In [4]:
[users[i] for i in users.columns if 'location_' in i]

[0        unknown
 1        unknown
 2        unknown
 3        unknown
 4        unknown
           ...
 68087    unknown
 68088    unknown
 68089    unknown
 68090    unknown
 68091    unknown
 Name: location_part1, Length: 68092, dtype: object,
 0        unknown
 1        unknown
 2        unknown
 3        unknown
 4        unknown
           ...
 68087    unknown
 68088    unknown
 68089    unknown
 68090    unknown
 68091    unknown
 Name: location_part2, Length: 68092, dtype: object,
 0            timmins
 1             ottawa
 2            unknown
 3            toronto
 4           victoria
             ...
 68087       danville
 68088       victoria
 68089      irvington
 68090      vancouver
 68091    albuquerque
 Name: location_part3, Length: 68092, dtype: object,
 0                  ontario
 1                  ontario
 2                      n/a
 3                  ontario
 4         british columbia
                ...
 68087         pennsylvania
 68088             delaware
 68089              alabama
 68090           washington
 68091           new mexico
 Name: location_part4, Length: 68092, dtype: object,
 0         canada
 1         canada
 2            n/a
 3         canada
 4         canada
           ...
 68087        usa
 68088     canada
 68089        usa
 68090        usa
 68091        usa
 Name: location_part5, Length: 68092, dtype: object]

In [3]:
len(pd.concat([train['user_id'], sub['user_id']]).unique())

68069

In [4]:
len(pd.concat([train['user_id'], sub['user_id'], test['user_id']]).unique())

68069

In [5]:
test['user_id']

0         11676
1        116866
2        152827
3        157969
4         67958
          ...
76694    278543
76695    278563
76696    278633
76697    278668
76698    278851
Name: user_id, Length: 76699, dtype: int64

In [6]:
user_ids = pd.concat([train['user_id'], sub['user_id']]).unique()

idx2user = {idx:id for idx, id in enumerate(user_ids)}

user2idx = {id:idx for idx, id in idx2user.items()}

test['user_id'] = test['user_id'].map(user2idx)
test['user_id']

0           13
1        13426
2        26761
3        16495
4         6225
         ...
76694     7728
76695    47785
76696     4209
76697    40779
76698     1879
Name: user_id, Length: 76699, dtype: int64

In [14]:
train.columns

Index(['user_id', 'isbn', 'rating'], dtype='object')

In [17]:
train.columns.delete([0, 1, 2])

Index([], dtype='object')

In [24]:
train = pd.read_csv('../data/train_ratings_m1.csv')
locations = pd.concat([train[i] for i in train.columns.delete([0, 1, 2]) if 'location' in i]).unique()
locations

array([nan, 'merrick', 'lawrence', ..., ' united kingdom"', ' alachua',
       ' usa & canada'], dtype=object)

In [28]:
columns = train.columns
columns['location' in columns]

ValueError: Multi-dimensional indexing (e.g. `obj[:, None]`) is no longer supported. Convert to a numpy array before indexing instead.

In [6]:
sub = pd.read_csv('../submit/20231220_091147_NCF.csv')
sub = sub[['user_id', 'isbn', 'rating']]
sub

       user_id        isbn    rating
0        11676  0002005018  6.912177
1       116866  0002005018  7.729084
2       152827  0060973129  7.894340
3       157969  0374157065  8.209185
4        67958  0399135782  7.826475
...        ...         ...       ...
76694   278543  1576734218  5.431262
76695   278563  3492223710  5.721215
76696   278633  1896095186  6.415329
76697   278668  8408044079  3.216675
76698   278851  0767907566  5.595185

[76699 rows x 3 columns]

In [7]:
import datetime as dt

sub.to_csv('../mysubmit/' + dt.datetime.now().strftime("%Y%m%d%H%M") + 'result.csv', index=False)